
.div-img-update-categorie {
    height: 200px !important;
    border-radius: 10px;
    overflow: hidden;
}

.div-img-update-categorie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.div-img-update-categorie img:hover{
    transform: scale(1.1);
}
.preview-image-partenaire{
    overflow: hidden;
    height: 150px;
    margin: 5px;
    border-radius: 10px; 
    text-align: center;
    align-items: center;
    justify-content: center;
}
.preview-image-partenaire img{
    object-fit: cover;
    height: 100%;
   
}
.preview-image-partenaire img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.list-logo{
    height: 100px;
    overflow: hidden;
}
.list-logo .logo img{
    width: 80px;
}
.list-logo .logo{
    text-align: center;
}
.cusor{
    cursor: pointer;
}