body {

    font-family: Lato, Almarai, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

}

.custom-scrollbar {
    /* Définir une hauteur fixe ou une hauteur maximale pour activer la barre de défilement */
    height: 200px;
    /* Exemple de hauteur fixe */
    max-height: 400px;
    /* Exemple de hauteur maximale */

    /* Activer les barres de défilement personnalisées */
    overflow-y: auto;
    /* Activer la barre de défilement verticale si nécessaire */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f4f5f7;
    border-radius: 14px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #008080;
    border-radius: 14px;
}

@supports not selector(::-webkit-scrollbar) {
    .custom-scrollbar {
        scrollbar-color: #008080 #008080;
    }
}


.header-1 {
    background-color: #018d8d;
    color: white;
}

.link {
    text-decoration: none !important;
    color: #018d8d !important;
}

.text-red {
    color: #018d8d;
}

.btn-outline-red {
    border: 1px solid #018d8d;
    color: #018d8d;
    background-color: unset;
}

.btn-outline-red:hover {
    color: white !important;
}




.bg-red {
    background-color: #018d8d !important;
    color: white !important;
}

.seach-zone {
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 10px;
}

.seach-zone-input {
    border: none !important;
    background-color: unset !important;
}

.modal {
    border-radius: 0px !important;
}

.categorie-div-img {
    width: 100px;
    height: 50px !important;
    overflow: hidden;
    border: solid 2px #187dbf;
}

.categorie-div-img img {
    width: 100%;
    height: 100px !important;
    height: auto;
}

.home-post-cart {
    width: 100%;
    height: 200px !important;
    overflow: hidden;
}

.home-post-cart img {
    height: 100% !important;

    width: 100%;
    object-fit: cover;
    height: auto;
}

.home-post-cart img {
    transition: transform 0.3s ease;
    /* Ajoute une transition pour rendre l'effet progressif */
}

.home-post-cart img:hover {
    transform: scale(1.3);
    /* Augmente la taille de l'image au survol */
}


.avatar-inscription {
    display: inline-block;
    width: 70px !important;
    height: 70px !important;
    border-radius: 70%;
}

.avatar-user-head {
    height: 25px;
    width: 25px;
    border: solid 1px #018d8d;
}

.div-head-user {
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.425);
    padding: 2px 10px 2px 2px;
}

.mini-image-details {
    height: 50px;
    border-radius: 10px;
}

.back-btn {
    background-color: unset;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.555);
    border-radius: 05px;
    padding: 5;
}

.back-btn-red {
    background-color: unset;
    color: rgb(255, 0, 0);
    border: solid 1px rgba(253, 0, 0, 0.555);
    border-radius: 05px;
    padding: 5;
}

.card-shadow:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.nav-header-2 {
    background-color: #000000;
    color: white !important;
}

.no-border {
    border: 0;
    box-shadow: none;
    /* You may want to include this as bootstrap applies these styles too */
}

.border-color {
    border: 2px solid #018d8d !important;
}

.avatar-small-product {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #008080;
}
.avatar-small-product:hover{
    box-shadow: 15px 17px 15px -3px rgba(0,0,0,0.1);
}
.avatar-small-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar-small-product img:hover {
    transform: scale(1.1);
}


.card-iamge-post-create {
    overflow: hidden;
    height: 200px !important;
    width: 200px !important;
}

.card-iamge-post-create img {
    width: 100% !important;
    z-index: 1;
    position: absolute;
}

.card-iamge-post-create button {
    z-index: 2;
    position: relative;
    left: 10px;
    top: 10px;
}

.btn-retour-haut {
    width: 100%;
    border: none;
    font-weight: 400;
    background-color: #485769;
    color: white;
    padding: 15px 5px 15px 5px;
}

.card-notification-1 {
    background: url("https://c8.alamy.com/comp/2N74EJA/abstract-perspective-dotted-background-with-greyish-teal-squares-minimal-vector-graphic-pattern-2N74EJA.jpg")no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 20px;
}

.carouselExampleControls {
    max-height: 500px !important;
    text-align: center;
    background-color: #373737;
}

.carouselExampleControls img {
    max-height: 500px !important;
}



.carouselpropositions img {
    width: 100%;
}

.carouselpropositions {
    height: 300px;
    overflow: hidden;
}

.dropdown-menu a {
    color: black !important;
}

.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-menu-right {
    border: none !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 3px 3px 43px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 43px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 43px -12px rgba(0, 0, 0, 0.75);
}

.dropdown-menu-right .dropdown-item .bi {
    color: #018d8d;
    size: 875rem;
    margin-right: 10px;
}

.dropdown-menu-right .dropdown-item {
    size: 10px !important;
}

.input-group-text-ps {
    background-color: #ffffff !important;
    border-right: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.border-left-none {
    border-left: none !important;
}

.div-cat-shop-item img {
    width: 50%;
}

.div-cat-shop-item {
    margin: 5px;
    text-align: center;
    /* From https://css.glass */
    background: rgba(232, 93, 4, 0.11);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(232, 93, 4, 0.28);
}

.card-image-inscription img {
    width: 130%;
}

.card-image-inscription {
    overflow: hidden;
}

.fil-import-registrer {
    text-align: center !important;
    border: solid 2px #018d8d;
    border-style: dashed;
    padding: 10px;
    color: #000000;
}

.btn-vend {
    color: #018d8d;
    font-weight: 500;
    border: solid 1px #018d8d;
    padding: 5px;
}

.btn-select-file {
    background-color: #fdac77;
    text-align: center;
    height: 100px !;
    width: 100px !important;
}

.btn-select-file img {
    width: 70%;
    height: 100px;
    width: 100px;
}

.no-picture {
    height: 100px;
    width: 100px;
    border: solid 1px #000000;
    border-style: dashed;
}

.car-image-upload {
    height: 100px;
    width: 100px;
    border: solid 1px #000000;
    border-style: dashed;
    object-fit: cover;
    overflow: hidden;
}

.car-image-upload img {
    height: 100% !important;
    width: 100% !important;


}


.car-image-upload button {
    border-radius: 50px;
    background-color: red;
    color: white !important;
    border: none;
}

.form-control-ps {
    border-radius: 0px !important;
    padding: 20px !important;

}

.color {
    color: #148989;
}

.card-footer-option {
    background-color: white;
    border-left: solid 3px #3b3838;
}

.header-btn-position {
    bottom: -300px;
    width: 100%;
}

.bg-success-ps {
    background-color: #018d8d !important;
}



.option-icon-header {
    right: 0px;

    text-transform: capitalize;
}

.option-icon-header:hover {
    color: #008080 !important;
}


.elementToHideBeforeScroll {
    display: none;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.hide {
    display: none;
}

.slick-dots {
    display: none !important;
}

.comment-position-top a {
    padding-left: 0px !important;
    padding-right: 17px !important;
}

.password_show {
    position: absolute;
    right: 20px;
    bottom: 14px;
    background-color: #008080;
    color: white;
    font-weight: bold;
    border: none;
}


.badge-like-post-count {
    background-color: #018d8d;
    border: none !important;
    color: white !important;
}

.card-img-top img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.card-img-top {
    height: 200px !important;
    overflow: hidden;
}

.card-img-top img:hover {
    scale: 1.1;
}

.slick-arrow {
    background-color: #ffffff17 !important;
    border: white !important;
    border-radius: 100% !important;

}

.slick-arrow i {
    color: white !important;
}

.slick-arrow span {
    color: white !important;
}

.avatar img {
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.card-image-shopiner {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 5px;
}

.card-image-shopiner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-image-shopiner img:hover {
    transform: scale(1.1);
}

.shopinner-cup-image {
    position: absolute;
    right: 0px;
}

.note-shopinner-bas {
    background-color: #e0e0e0b6;
    padding: 05px;
    border-radius: 5px;
    border: solid 1px #0080801c;
}

.btn-start-profile {
    background-color: unset;
    position: absolute;
    border: none;
    right: 0px;
    top: 0px;
}

.btn-rating-modal {
    border: none;
    background-color: unset;
}


.rating-yellow-color {
    color: #008080;
}

.avatar-profil-user {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #018d8d;
}

.avatar-profil-user img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar-profil-user img:hover {
    transform: scale(1.1);
}

.btn-btn-shop-style {
    border: none;
    background-color: unset;
    padding: 0px !important;
    cursor: pointer !important;
}

.btn-btn-shop-style:hover {
    font-weight: bold;
    color: #008080;
}

.btn-btn-shop-style-select {
    border: solid 1px white !important;
    width: 100% !important;
}

.image-visible-login {
    position: absolute;
    right: 10px;
    top: 14px;
}

.luxury {
    color: red !important;
}

.btn-favoris-added {
    background-color: #008080 !important;
    color: white !important;
}

.cursor {
    cursor: pointer;
}

.password_show2 {
    position: absolute;
    right: 20px;
    bottom: 14px;
    color: #008080;
    font-weight: bold;
    border: none;
    background: transparent;
}

.scrollbar-y-nav {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.selected-register {
    border: solid 5px #008080 !important;
    background-color: #00808015 !important;
}

.btn-ping-shopinner {
    border: none;
    background-color: unset;
    padding: 0px !important;
}

.popup-content {
    border-radius: 10px !important;
    border: none !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.link-red:hover {
    color: #df1379 !important;
}

.btn-slide-home {
    background-color: transparent;
    border: solid 2px #008080;
    color: #008080;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.btn-slide-home:hover {
    background-color: #008080;
    color: white;
}

.group-btn-slide {
    width: 100%;
    position: absolute !important;
    padding: 5px;
    top: 50%;
}

.btn-publier-header {
    color: #018d8d !important;
    border-radius: 10px;
    background-color: transparent !important;
    border: solid 2px #018d8d;
    font-weight: 500;
}

.multi-color-btn {
    background: url("/icons/color-wheel.png")no-repeat;
    background-size: cover;
}

.custom-scrollbar-left {
    height: 400px;
    overflow-y: auto;
    /* Activer la barre de défilement verticale */
    overflow-x: hidden;
    /* Cacher la barre de défilement horizontale */
    direction: rtl;/
}

.icon-icon-header:hover {
    color: #ff0080 !important;
}

.div-sroll-recherche {
    margin-top: 15px;
    
}

.myInputRecherche {
    width: 20%;
    border: solid 1px #96999b;
}

.transition-width {
    transition: width 0.3s ease-in-out;
    /* Ajoute une transition de largeur avec une durée de 0.3s */
}

.full-width {
    width: 100%;
}

.span-icon-recherche {
    background-color: #008080;
    color: white;
    padding: 7px;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 1px;
    border: none;
    border-radius: 5px;;
}



/* Container pour les logos */
.container-logo-home {
    width: 100%;
    /* Largeur de votre conteneur */
    height: 100px;
    /* Hauteur de votre conteneur */
    overflow: hidden;
    /* Cacher les logos supplémentaires */
    position: relative;
    /* Position relative pour les animations */
}

/* Liste des logos */
.logo-list-logo-home {
    display: flex;
    /* Affichage en ligne des logos */
    animation: scroll 15s linear infinite;
    /* Animation de défilement */
}

/* Animation de défilement */
@keyframes scroll {
    0% {
        transform: translateX(0);
        /* Début sans décalage */
    }

    100% {
        transform: translateX(-100%);
        /* Défilement complet vers la gauche */
    }
}

/* Style des logos */
.logo-list-logo-home img {
    width: 50px;
    /* Largeur de chaque logo */
    height: auto;
    /* Hauteur automatique pour maintenir les proportions */
    margin-right: 10px;
    /* Marge entre chaque logo */
}

/* Pour s'assurer que la hauteur du conteneur est suffisante pour afficher les logos */
.container-logo-home img {
    height: 100%;
}

.swal-wide {
    background-color: #008080;
    color: white;
}

.color-red {
    color: #f6182a;
}

.close-modal-preview {
    position: fixed;
    top: 120px;
    z-index: 600;
    right: 50px;
    border: none;
    background-color: transparent;
}

.btn-etat-shop {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    text-align: left !important;
}

.btn-etat-shop:hover {
    font-weight: bold !important;
    color: #018d8d;
}

.cusor {
    cursor: pointer;
}


input[type="month"]::before {
    content: attr(placeholder) !important;
    color: #aaa;
    font-size: 10px;
    width: 100%;
}

input[type="month"]:focus::before,
input[type="month"]:active::before {
    content: "";
    width: 0%;
}

.text-bold {
    font-weight: bold;
}

.text-black {
    color: black !important;
}

.btn-like-details {
    background-color: white;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.185);
    padding: 5px 10px 5px 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15px;
    bottom: 20px;
    z-index: 13;
    cursor: pointer;
    width: 60px !important;
}

.btn-like-details:hover {
    background-color: #ececec;
}

.modal-dialog-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}

.gallery-image-details {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin: 2px;
}

.gallery-image-details img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.voir-plus-home-texte {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
    font-weight: bold;
}

@keyframes clignoter {
    0% {
        color: #000000;
    }

    40% {
        color: #018d8d;
    }

    100% {
        opacity: #000000;
    }
}


.zoom-in {
    cursor: zoom-in;
}

.text-end {
    text-align: right !important;
}

.avatar-post-like {
    height: 50px !important;
    width: 50px !important;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 5px;
}

.avatar-post-like img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.modal {
    background-color: #0080806c !important;
}

.badge-frais-details {
    background-color: #ecedf1;
    color: rgb(39, 38, 38);
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 40px;
    border-right: solid 3px #018d8d;
    cursor: pointer;
}

.btn {
    border-radius: 5px !important;
    font-weight: 500 !important;
}

.btn:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.avatar-shopinner-details {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 10px;
}

.avatar-shopinner-details img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.strong {
    font-weight: bold;
}

.border-r{
    border-radius: 5px !important;
}

.tb-head{
    background-color: #008080;
    color: white !important;
}

.table tbody td{
    vertical-align: top !important;
}


























.container-search {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;

    .search-search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 40px;
        color: white !important;
        background: #008080;
        border: none !important;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

        &:hover {
            cursor: pointer;
        }

        
    }

    input {
        font-family: 'Inconsolata', monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        background: #008080;
        color: white;
        text-shadow: 0 0 10px #008080;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 #008080;
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            width: 300px;
            opacity: 1;
            cursor: text;
        }

        &:focus~.search-search {
            right: -250px;
            background: #151515;
            z-index: 6;

            &::before {
                top: 0;
                left: 0;
                width: 25px;
            }

            &::after {
                top: 0;
                left: 0;
                width: 25px;
                height: 2px;
                border: none;
                background: white;
                border-radius: 0%;
                transform: rotate(-45deg);
            }
        }

        &::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: bolder;
        }
    }
}

.card-image-shop-categorie{
    height: 120px;
    overflow: hidden;
}
.card-image-shop-categorie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-image-shop-categorie img:hover{
    scale: calc(1.2);
}
.no-bg{
    background: unset !important;
    background-color: unset !important;
}
.bg-color{
    background-color: #008080!important;
    color: white!important;
}

.cart_selected_single_thumb{
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 10px ;
    border:solid 1px #018d8d;
}
.cart_selected_single_thumb img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Selected_options div{
    background-color: #dadada5d;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;
    border:solid 1px #dadadaad;
}

















































/* hide mobile version */
@media (max-width: 768px) {
    .hide-mobile-version {
        display: none;
    }

    .header-btn-position {
        bottom: -100px;
        width: 100%;
    }

}

@media (min-width: 991px) {
    .option-icon-header {
        position: absolute;
    }

    .hide-desktop {
        display: none;
    }



    .comment-position {
        position: absolute;
        right: 0px;
    }
}